<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .additional-message { font-size: 1.3em; font-weight: bold; }
      .successMsg { color: green; }
      .errorMsg { color: red; }
      .lunchMenuSuccess {border-color: green;}
      .lunchMenuError {border-color: red;}
    </style>
  </head>
<body ng-app="LunchCheck" >
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{lunchItemsTextBoxClass}}">
            Note: One or more whitespace, nothing, forward and back slash(es) between commas (i.e. , , OR ,, OR ,/, OR ,\,) are not counted as an item towards to the count
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="addItems();">Check If Too Much</button>
         </div>
         <div class="form-group message {{lunchItemsMsgClass}}">
           {{lunchItemsMsg}}
         </div>
         <div>
           {{additionalLunchItemsMsg}}
         </div>
   </div>

</body>
</html>
