<!doctype html>
<html lang="en">
<head>
	<title>Example form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="styles/example.css">
</head>
<body ng-app="ExampleApp">
	 <div class="container" ng-controller="ExampleAppController as ctrl">
			<div>
				<h1>Example</h1>
					<ul style="list-style-position">
						<li><img src="images/flower.png"></li>
						<li><img src="images/imp-vector-creature.svg"></li>
					</ul>
					<form>
						<label for="displayName">Display name:</label>
						<input ng-model="ctrl.displayName" type="text" id="displayName"> <span class="displayErrorText">{{ctrl.displayNameError}}</span><br><br>
						<label for="dateOfBirth">Date of birth:</label>
						<input ng-model="ctrl.dateOfBirth" type="date" id="dateOfBirth"><br><br>
						<input ng-model="ctrl.option1" type="checkbox" id="option1" value="option 1">
						<label for="option1"> Option 1</label><br>
						<input ng-model="ctrl.option2" type="checkbox" id="option2" value="option 2">
						<label for="option2"> Option 2</label><br><br><br>
						<input ng-model="ctrl.fileName" type="file" id="fileName" onChange="angular.element(this).scope().setFileName(this)"><br><br>
						<button type="button" ng-click="ctrl.sendItems();">Send</button><br><br>

						{{ctrl.response}}
					</form>
			</div>
	 </div>

</body>
</html>
